@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

.dark {
   --background: #0a0a0a;
   --foreground: #ededed;
}

.light {
   --background: #ffffff;
   --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
   :root:not(.light):not(.dark) {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
}

body {
   background: var(--background);
   color: var(--foreground);
}

html {
   scroll-behavior: smooth;
}

:root {
   scroll-padding-top: 6rem;
}
